---
import { Code } from 'astro/components';
import PostLayout from '../../layouts/post.astro';

export const frontmatter = {
  title: 'What I learned working at Envy Labs',
  description: '',
  // date: '2022-11-02',
  tags: ['dev'],
};
---

<PostLayout content={frontmatter}>
  <p><a href="https://playwright.dev/">Playwright</a> is shaping up to be an absolutely invaluable tool</p>
</PostLayout>
