---
import BlogPost from '../../components/BlogPost.astro';
import Head from '../../components/Head.astro';
import Nav from '../../components/Nav.astro';

const allPosts = await Astro.glob('./**/*.{astro,md}');
const posts = allPosts.filter((p) => !!p.frontmatter?.date).sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---

<html lang="en-us">
  <head>
    <Head title="blog" />
    <style lang="scss">
      .blog-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 600px) {
          padding-left: 2.25rem;
          padding-right: 2.25rem;
        }
      }
    </style>
  </head>

  <body>
    <Nav />

    <div class="page">
      <h1 class="page-title">Blog</h1>
      <p class="page-description" style="margin-bottom:3rem">Thoughts about web and web-related things</p>
    </div>

    <div class="blog-wrapper" itemscope itemtype="https://schema.org/Blog">
      {posts.map((blogPost) => <BlogPost post={blogPost} />)}
    </div>
  </body>
</html>
