---
import BlogPost from '../../components/BlogPost.astro';
import Head from '../../components/Head.astro';
import Nav from '../../components/Nav.astro';

const allPosts = await Astro.fetchContent('./**/*.md');
const posts = allPosts.filter((p) => !!p.date).sort((a, b) => new Date(b.date) - new Date(a.date));
---
<html lang="en-us">
  <head>
    <Head title="blog" />
    <style lang="scss">
      .blog-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 600px) {
          padding-left: 2.25rem;
          padding-right: 2.25rem;
        }
      }
    </style>
  </head>

  <body>
    <Nav />

    <div class="blog-wrapper" itemscope itemtype="https://schema.org/Blog">
      {posts.map((blogPost) => (
        <BlogPost post={blogPost} />
      ))}
    </div>
  </body>
</html>
