---
import { getCollection } from 'astro:content';
import BlogPost from '../../../components/BlogPost.astro';
import Head from '../../../components/Head.astro';
import Nav from '../../../components/Nav.astro';

const { tag } = Astro.params;
const { posts } = Astro.props;

export async function getStaticPaths() {
  const posts = (await getCollection('blog')).filter((p) => !!p.data.pubDate);
  posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  const tags = new Set();
  for (const post of posts) {
    if (Array.isArray(post.data.tags)) {
      for (const tag of post.data.tags) {
        tags.add(tag);
      }
    }
  }
  return [...tags].map((tag) => ({
    params: { tag },
    props: { posts: posts.filter((post) => Array.isArray(post.data.tags) && post.data.tags.includes(tag)) },
  }));
}
---

<html lang="en-us">
  <head>
    <Head title={`Tagged: ${tag}`} />
  </head>
  <body>
    <Nav />

    <div class="wrapper">
      {posts.map((post) => <BlogPost post={post} />)}
    </div>
  </body>
</html>
