@mixin element {
  position: relative;

  &::before,
  &::after {
    color: var(--gray-40);
    font-family: var(--mono);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: inherit;
    pointer-events: none;
    text-transform: none;
  }

  &::before {
    transform: translateX(-100%);
    position: absolute;
  }

  &::after {
    display: inline;
    margin-left: 0.375em;
  }
}
