@mixin element {
  position: relative;

  &::before,
  &::after {
    color: var(--gray-40);
    display: inline-block;
    font-family: var(--mono);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    pointer-events: none;
    text-transform: none;
    vertical-align: middle;
  }

  &::before {
    position: absolute;
    right: calc(100% + 0.25em);
  }

  &::after {
    display: inline-block;
    margin-left: 0.375em;
  }
}
