@mixin element {
  position: relative;

  &::before {
    color: var(--gray-40);
    display: inline-block;
    font-family: var(--mono);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    pointer-events: none;
    position: absolute;
    text-transform: none;
    transform: translateX(-100%);
  }
}
