////
/// Syntax highlighting
////

.token {
  // general
  &.punctuation {
    color: var(--gray-50);
  }

  &.comment {
    color: var(--gray-50);
  }

  // diff
  &.unchanged {
    color: var(--gray-50);
  }
  &.inserted {
    background: #233323;
    color: var(--green);
  }
  &.deleted {
    color: var(--red);
  }
}
