<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>404 // Drew Powers</title>
  </head>
  <body>
    <h1>404</h1>
    <p>Page does not exist.</p>
    <a href="/">Go home</a>
  </body>
</html>
