---
import Nav from '../components/Nav.astro';
import Head from '../components/Head.astro';

let title = 'about';

const SKULL_COLORS = ['#ff0000', '#ffff00', '#0040ff', '#ff00ff', '#00ff00'];
const colorOfTheDay = SKULL_COLORS[Math.floor(Math.random() * SKULL_COLORS.length)];
---

<html lang="en-us">
  <head>
    <Head title={title} color={colorOfTheDay} />
  </head>

  <body>
    <Nav />

    <div class="wrapper">
      <div itemscope itemtype="http://schema.org/Person" class="pb8">
        <img alt="Drew" height="1000" itemprop="photo" src="/assets/drewpowers.jpg" width="2000" />
        <p>
          My name is
          <span itemprop="name">Drew</span>. I have measurable brain rot from the internet. I believe the web sucks sometimes, but it can also make peoples’ lives better. And hope to do just a bit of the latter in my time on earth, if I’m lucky.
        </p>
        <p>Some things I believe (in no particular order):</p>
        <ol>
          <li>Black lives matter</li>
          <li>trans rights are human rights</li>
          <li>everyone deserves a fair shot at equality, freedom, and happiness</li>
          <li>impact &gt; intent</li>
          <li>be kind whenever possible (it is always possible)</li>
        </ol>
        <p>
          Have a question, or a suggestion for something you’d like me to write about? Shoot me an
          <a href="mailto:drew@pow.rs?subject=Hi-di-ho,%20neighbor!">email</a>.
        </p>
        <p>
          Take a tour through the Drewseum, won’t you?<br />
          <a href="https://2010.pow.rs">2010</a> / <a href="https://2011.pow.rs">2011</a> / <a href="https://2013.pow.rs">2013</a> / <a href="https://2016.pow.rs">2016</a> / <a
            href="https://2017.pow.rs">2017</a
          >
        </p>
        <p>
          Or find me on other internet websites:<br />
          <a class="link" href="https://github.com/drwpow/pow.rs" target="_blank">github</a> /
          <a class="link" href="https://hachyderm.io/@drwpow" target="_blank">mastodon</a> /
          <a class="link" href="https://discord.gg/user/drewpowers#6767" target="_blank">discord</a>
        </p>
      </div>
    </div>
  </body>
</html>
