---
// cSpell:words Graphe
import Bouncing from "./art/Bouncing.astro";
import Broadcasts from "./art/Broadcasts.astro";
import Graphe from "./art/Graphe.astro";
import IBeams from "./art/IBeams.astro";
import SlidingShoji from "./art/SlidingShoji.astro";
import Sputtering from "./art/Sputtering.astro";
import TeeteringStack from "./art/TeeteringStack.astro";
import ThreeRings from "./art/ThreeRings.astro";

const { id } = Astro.props;
---

<style lang="scss">
.art-description {
  font-size: var(--d2);
}

.art-title {
  margin-left: -0.25em;

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

.art-meta {
  padding-left: 2rem;
}

.art-year {
  font-size: var(--d2);
  font-style: italic;
}
</style>

{id === 'did-we-fuck-up-the-internet-pt-2' && (
  <TeeteringStack />
  <div class="art-meta">
    <div class="art-title">Teetering Stack</div>
    <div class="art-description">Animation</div>
    <div class="art-year">2021</div>
  </div>
)}

{id === 'did-we-fuck-up-the-internet-pt-1' && (
  <Sputtering />
  <div class="art-meta">
    <div class="art-title">Sputtering</div>
    <div class="art-description">Layered animation</div>
    <div class="art-year">2021</div>
  </div>
)}

{id === 'responsive-type-scales-in-css' && (
  <Graphe />
  <div class="art-meta">
    <div class="art-title">Graphe</div>
    <div class="art-description">Cicada principle animation</div>
    <div class="art-year">2021</div>
  </div>
)}

{id === 'was-html-a-mistake' && (
  <IBeams />
  <div class="art-meta">
    <div class="art-title">I-Beams</div>
    <div class="art-description">Sine wave animation</div>
    <div class="art-year">2020</div>
  </div>
)}

{id === 'the-state-of-es-modules-in-2020' && (
  <Broadcasts />
  <div class="art-meta">
    <div class="art-title">Broadcasts</div>
    <div class="art-description">Cicada Principle animation</div>
    <div class="art-year">2020</div>
  </div>
)}

{id === 'media-queries-are-still-a-hack' && (
  <SlidingShoji />
  <div class="art-meta">
    <div class="art-title">Sliding Shoji</div>
    <div class="art-description">Cicada Principle animation</div>
    <div class="art-year">2020</div>
  </div>
)}

{id === '3-pillars-of-front-end-knowledge' && (
  <ThreeRings />
  <div class="art-meta">
    <div class="art-title">3 Rings</div>
    <div class="art-description">Cicada Principle animation</div>
    <div class="art-year">2020</div>
  </div>
)}

{id === 'playfulness-budget' && (
  <Bouncing />
  <div class="art-meta">
    <div class="art-title">Bouncing</div>
    <div class="art-description">Cicada Principle animation</div>
    <div class="art-year">2020</div>
  </div>
)}
