<style lang="scss">
.footer {
  font-family: var(--heading);
  font-size: var(--d1);
  padding: 1.5rem;

  @media (min-width: 600px) {
    padding: 1.5rem 3rem;
  }
}

.item {
  list-style: disc;
  margin: 0;
}

.link {
  color: var(--c-fg);
}
</style>

<footer class="footer">
  <ul>
    <li class="item"><a class="link" href="https://github.com/drwpow/pow.rs" target="_blank">github</a></li>
    <li class="item"><a class="link" href="https://twitter.com/drwpow" target="_blank">twitter</a></li>
  </ul>
</footer>
