<style lang="scss">
.footer {
  font-family: var(--heading);
  font-size: var(--d1);
  padding: 1.5rem;

  @media (min-width: 600px) {
    padding: 1.5rem 3rem;
  }
}

.item {
  list-style: disc;
  margin: 0;
}

.link {
  background: lightgray;
  border-radius: 2px;
  border: 1px solid gray;
  color: #444;
  font-family: arial;
  padding: 0.25rem;
  text-decoration: none;
}
</style>

<footer class="footer">
  <a class="link" href="https://github.com/drwpow/pow.rs" target="_blank">github</a>
  <a class="link" href="https://twitter.com/drwpow" target="_blank">twitter</a>
</footer>
