---
const { tag } = Astro.props;
---
<style lang="scss">
.tag {
  color: var(--bg);
  display: inline-flex;
  align-items: center;
  font-size: var(--d1);
  font-family: var(--heading);
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.tag__dev {
  background-color: var(--green);
}

.tag__design {
  background-color: var(--fuschia);
}
</style>

<span class={`tag tag__${tag}`}>{tag}</span>
