---
const { tag } = Astro.props;
---
<style lang="scss">
.tag {
  align-items: center;
  display: inline-flex;
  font-family: Arial;
  font-size: var(--d1);
  text-decoration: none;

  &__dev {
    color: var(--green);
  }

  &__design {
    color: var(--fuchsia);
  }

  &__strategy {
    color: var(--yellow);
  }
}
</style>

<span class={`tag tag__${tag}`}>{tag}</span>
