---
const { tag } = Astro.props;
---
<style lang="scss">
.tag {
  display: inline-flex;
  align-items: center;
  font-size: var(--d1);
  font-family: var(--heading);
  text-decoration: none;

  &::before {
    display: inline-block;
    width: 0.375em;
    height: 0.375em;
    margin-right: 0.5em;
    background: currentColor;
    border-radius: 50%;
    content: '';
  }
}

.tag__dev {
  color: var(--green);
}

.tag__design {
  color: var(--fuschia);
}
</style>

<span class={`tag tag__${tag}`}>{tag}</span>
